.complexity-rating {
  display: flex;
  flex-flow: row nowrap;
  width: 50px;

  .column-1,
  .column-2,
  .column-3,
  .column-4,
  .column-5 {
    width: 5px;
    margin-right: 2px;
    border: 1px solid black;
  }

  .column-1 {
    margin-top: 12px;
    height: 5px;
  }
  .column-2 {
    margin-top: 9px;
    height: 8px;
  }
  .column-3 {
    margin-top: 6px;
    height: 11px;
  }
  .column-4 {
    margin-top: 3px;
    height: 14px;
  }
  .column-5 {
    height: 17px;
  }

  .filled-column {
    background-color: black;
  }
}
