.flex-container {
  margin-top: 20px;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  height: calc(100% - 141px);
}
.recipes {
  margin-left: 20px;
  overflow-y: auto;
}
.pagination {
  display: flex;
  justify-content: center;
}
.add-recipe {
  padding-left: 398px;
  padding-right: 398px;
}
.ingredient-filters {
  overflow-y: auto;
}
.padding-form {
  padding-right: 20px;
}
