.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}
.flex-container {
  margin-top: 20px;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  height: calc(100% - 141px);
}
.recipes {
  margin-left: 20px;
  overflow-y: scroll;
}

.toggle {
  clear: both;
  float: right;
  margin-bottom: 10px;
}
.pagination {
  display: flex;
  justify-content: center;
}
