<div class="flex-container">
  <div class="ingredient-filters">
    <div class="padding-form">
      <app-filters></app-filters>
    </div>
  </div>
  <div class="recipes">
    <app-recipe
      *ngFor="
        let recipe of listFilteredRecipes
          | paginate: { itemsPerPage: 5, currentPage: p }
      "
      [recipe]="recipe"
    ></app-recipe>
    <div class="add-recipe">
      <button mat-icon-button>
        <mat-icon>add</mat-icon>
      </button>
    </div>
  </div>
</div>
<div class="pagination">
  <pagination-controls
    previousLabel=""
    nextLabel=""
    (pageChange)="p = $event"
    (pageBoundsCorrection)="p = $event"
  ></pagination-controls>
</div>
