::ng-deep .mat-form-field-infix {
  padding-bottom: 9px !important;
  padding-top: 13px !important;
  border-top: 9px !important;
}
::ng-deep .mat-select-arrow-wrapper {
  padding-top: 8px;
}
::ng-deep .mat-button-toggle-label-content {
  line-height: 36px !important;
}
