<div>
  <div>
    <label>Категории</label>
    <button mat-icon-button (click)="blockTree = !blockTree">
      <mat-icon>
        {{ blockTree ? "expand_less" : "expand_more" }}
      </mat-icon>
    </button>
    <div [hidden]="!blockTree">
      <div class="tree-node">
        <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
          <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
            <mat-checkbox
              class="checklist-leaf-node"
              [checked]="checklistSelection.isSelected(node)"
              (change)="todoLeafItemSelectionToggle(node)"
              >{{ node.item }}
            </mat-checkbox>
          </mat-tree-node>
          <mat-tree-node
            *matTreeNodeDef="let node; when: hasChildren"
            matTreeNodePadding
          >
            <mat-checkbox
              [checked]="descendantsAllSelected(node)"
              [indeterminate]="descendantsPartiallySelected(node)"
              (change)="todoItemSelectionToggle(node)"
              >{{ node.item }}
            </mat-checkbox>
            <button
              mat-icon-button
              matTreeNodeToggle
              [attr.aria-label]="'toggle ' + node.filename"
            >
              <mat-icon>
                {{
                  treeControl.isExpanded(node) ? "expand_less" : "expand_more"
                }}
              </mat-icon>
            </button>
          </mat-tree-node>
        </mat-tree>
      </div>
    </div>
  </div>
  <form [formGroup]="recipesForm" class="example-form">
    <div>
      <label>Название</label>
      <mat-form-field class="example-full-width" appearance="outline">
        <input matInput formControlName="title" />
      </mat-form-field>
    </div>
    <div>
      <label>Сложность</label>
      <div>
        <mat-slider
          thumbLabel
          min="1"
          max="5"
          class="example-full-width"
          formControlName="complexity"
        ></mat-slider>
      </div>
    </div>
    <div>
      <label>Автор</label>
      <mat-form-field class="example-full-width" appearance="outline">
        <input matInput formControlName="author" />
      </mat-form-field>
    </div>
    <div>
      <label>Ингредиенты</label>
      <button mat-icon-button (click)="blockIngredients = !blockIngredients">
        <mat-icon>
          {{ blockIngredients ? "expand_less" : "expand_more" }}
        </mat-icon>
      </button>
      <div [hidden]="!blockIngredients">
        <div formArrayName="ingredients">
          <div
            *ngFor="
              let element of recipesForm.controls['ingredients'].controls;
              let i = index
            "
          >
            <div class="example-full-width">
              <mat-form-field appearance="outline" class="select-width">
                <mat-select [formControlName]="i">
                  <mat-option value="">---</mat-option>
                  <mat-option
                    *ngFor="let ingredient of listIngredients"
                    [value]="ingredient"
                  >
                    {{ ingredient }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <button mat-icon-button (click)="removeIngredientSelection(i)">
                <mat-icon>remove</mat-icon>
              </button>
            </div>
          </div>
        </div>
        <div>
          <button mat-button (click)="addIngredientSelection()">Ещё</button>
          <mat-button-toggle-group class="toggle" formControlName="modeSelect">
            <mat-button-toggle value="И">И</mat-button-toggle>
            <mat-button-toggle value="Или">Или</mat-button-toggle>
          </mat-button-toggle-group>
        </div>
        <mat-slide-toggle
          class="toggle"
          labelPosition="before"
          formControlName="alternatives"
          >Альтернативы</mat-slide-toggle
        >
      </div>
    </div>
  </form>
</div>
